version: "3.9"

services:

  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=Smart123
    ports:
      - "1433:1433"
    volumes:
      - sql_data:/var/opt/mssql

  auth_service:
    build: ./auth_service
    container_name: auth_service
    ports:
      - "8001:8001"
    environment:
      - DB_SERVER=sqlserver
      - DB_USER=sa
      - DB_PASSWORD=Smart123
      - DB_DATABASE=FINANCE_SMART
      - EMAIL_SERVICE=http://email_service:8003/send-email
    depends_on:
      - sqlserver
      - email_service

  transacoes_service:
    build: ./transacoes_service
    container_name: transacoes_service
    ports:
      - "8002:8002"
    environment:
      - DB_SERVER=sqlserver
      - DB_USER=sa
      - DB_PASSWORD=YourPassword123
      - DB_DATABASE=FINANCE_SMART
    depends_on:
      - sqlserver

  email_service:
    build: ./email_service
    container_name: email_service
    ports:
      - "8003:8003"

volumes:
  sql_data:
