version: "3.9"

services:
  # --- BANCO DE DADOS ---
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=Smart123
      - MSSQL_PID=Express
    ports:
      - "1434:1433"
    volumes:
      - sql_data:/var/opt/mssql
    restart: unless-stopped
    networks:
      - finance-net

  # --- O MIGRADOR (A PEÇA QUE FALTAVA) ---
  db-migrator:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: db_migrator
    depends_on:
      - sqlserver
    volumes:
      - ./backend/queries:/tmp/queries
    # Comando para rodar o script
    command: /bin/bash /tmp/queries/setup.sh
    networks:
      - finance-net

  # --- FRONTEND ---
  frontend:
    build: ./Front/financesmart
    container_name: finance-front
    ports:
      - "5173:5173"
    networks:
      - finance-net
    depends_on:
      - auth_service

  # --- AUTH SERVICE ---
  auth_service:
    build: ./backend/auth_service
    container_name: auth_service
    ports:
      - "8001:8000"
    environment:
      - DB_SERVER=sqlserver
      - DB_USER=sa
      - DB_PASSWORD=Smart123
      - DB_DATABASE=FINANCE_SMART
      - EMAIL_SERVICE=http://email_service:8000/send-email
      - ENVIRONMENT=production
      - SECRET_KEY=${SECRET_KEY}
    depends_on:
      - sqlserver
      - db-migrator # Agora ele espera o migrador terminar!
    restart: unless-stopped
    networks:
      - finance-net

  # --- TRANSAÇÕES SERVICE ---
  transacoes_service:
    build: ./backend/transacoes_service
    container_name: transacoes_service
    ports:
      - "8002:8000"
    environment:
      - DB_SERVER=sqlserver
      - DB_USER=sa
      - DB_PASSWORD=Smart123
      - DB_DATABASE=FINANCE_SMART
      - SECRET_KEY=${SECRET_KEY}
    depends_on:
      - sqlserver
      - db-migrator # Espera o migrador também
    restart: unless-stopped
    networks:
      - finance-net

  # --- EMAIL SERVICE ---
  email_service:
    build: ./backend/email_service
    container_name: email_service
    ports:
      - "8003:8000"
    env_file:
      - ./.env
    restart: unless-stopped
    networks:
      - finance-net

networks:
  finance-net:
    driver: bridge

volumes:
  sql_data:
